.profile__bio {
  margin: 0;
  font-size: 18px;
  grid-column: span 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: normal;
  max-width: 380px;
}

@media screen and (max-width: 600px) {
  .profile__bio {
    justify-self: center;
    text-align: center;
    font-size: 14px;
    max-width: 250px;
    grid-column: span 3;
  }
}
